<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.team4.bookreview.postMapper">
    <select id="selectAll" resultType="com.team4.bookreview.vo.PostVO">
        SELECT *
        FROM post
        WHERE delFlag = 0
        ORDER BY date DESC;
    </select>
    
    <select id="select" parameterType="int" resultType="com.team4.bookreview.vo.PostVO">
    	SELECT * 
    	FROM post
    	WHERE idx = #{idx}
        AND delFlag = 0
    </select>
    
    <update id="update" parameterType="com.team4.bookreview.vo.PostVO">
        UPDATE post 
        SET title = #{title},
            content = #{content},
            modified = NOW()
        WHERE idx = #{idx}
        AND writer = #{writer}
    </update>

    <insert id="insert" parameterType="com.team4.bookreview.vo.PostVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO post (title, writer, content, cmt_cnt, view_cnt, date, modified, delFlag)
        VALUES (#{title}, #{writer}, #{content}, 0, 0, NOW(), NOW(), 0);
    </insert>

    <update id="delete" parameterType="com.team4.bookreview.vo.PostVO">
        UPDATE post
        SET delFlag = 1
        WHERE idx = #{idx}
        AND writer = #{writer}
    </update>

    <select id="searchWriter" parameterType="com.team4.bookreview.vo.PostVO" resultType="com.team4.bookreview.vo.PostVO">
        SELECT *
        FROM user A
        INNER JOIN post B
        ON A.id = B.writer 
        WHERE A.nickname LIKE #{writer} 
    </select>

    <select id="searchTitle" parameterType="com.team4.bookreview.vo.PostVO" resultType="com.team4.bookreview.vo.PostVO">
        SELECT *
        FROM post
        WHERE title LIKE #{title};
    </select>
</mapper>
