<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.team4.bookreview.postMapper">
    <select id="selectAll" resultType="com.team4.bookreview.vo.PostVO">
        SELECT *
        FROM post
    </select>
    
    <select id="select" parameterType="int" resultType="com.team4.bookreview.vo.PostVO">
    	SELECT * 
    	FROM post
    	WHERE idx = #{idx}
    </select>
    
    <update id="update" parameterType="com.team4.bookreview.vo.PostVO">
        UPDATE post 
        SET title = #{title},
            content = #{content}
        WHERE idx = #{idx}
        AND writer = #{writer}
    </update>

    <insert id="insert" parameterType="com.team4.bookreview.vo.PostVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO post (title, writer, content, cmt_cnt, view_cnt, date)
        VALUES (#{title}, #{writer}, #{content}, 0, 0, NOW());
    </insert>

    <delete id="delete" parameterType="int">
        DELETE 
        FROM post
        WHERE idx = #{idx}
    </delete>

</mapper>
