<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.team4.bookreview.reviewMapper">
 
    <select id="selectAll" resultType="ReviewVO">
        SELECT A.idx, A.writer, B.nickname, A.content, A.star, A.book, C.name bookName, C.author bookAuthor, C.genre bookGenre, A.date 
        FROM review A 
		LEFT JOIN user B
		ON A.writer = B.id
		LEFT JOIN book C
		ON A.book = C.idx
    </select>
    
    <select id="selectByWriter" parameterType="int" resultType="ReviewExpandVO">
    	SELECT A.idx, A.writer, B.nickname, A.content, A.star, A.book, C.name bookName, C.author bookAuthor, C.genre bookGenre, A.date, B.profile_image img 
        FROM review A 
		LEFT JOIN user B
		ON A.writer = B.id
		LEFT JOIN book C
		ON A.book = C.idx
    	WHERE A.writer = #{writer}
    </select>

	<select id="selectByBook" parameterType="int" resultType="ReviewExpandVO">
		SELECT A.idx, A.writer, B.nickname, A.content, A.star, A.book, C.name bookName, C.author bookAuthor, C.genre bookGenre, A.date, B.profile_image img 
        FROM review A 
		LEFT JOIN user B
		ON A.writer = B.id
		LEFT JOIN book C
		ON A.book = C.idx
    	WHERE A.book = #{book}
	</select>
    
    <insert id="insert" parameterType = "ReviewVO">
    	INSERT INTO review( writer, content, star, book, date)
    	VALUE (#{writer}, #{content}, #{star}, #{book}, NOW())
    </insert>
    
    <delete id="delete" parameterType = "int">
    	DELETE 
    	FROM review
    	WHERE idx = #{idx}
    </delete>

	<update id = "update" parameterType = "ReviewVO">
		UPDATE review SET 
		content = #{content}, star = #{star}, date = NOW()
		WHERE idx = #{idx}
	</update>
     
</mapper>
